<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
	<a href="/login">Log In</a>
<% } else { %>
<p>UPN: <%= user._json.upn %></p>
<% if (responseType === 'id_token') { %>
<p> id_token has claims: <p>
<% } else { %>
<p>User info json: </p>
<% } %>
<%- JSON.stringify(user._json) %>
<p></p>
<a href="/logout">Log Out</a>
<% } %>
