<% if (!user && message.length == 0) { %>
	<h2>Welcome! Please log in.</h2>
	<a href="/login">Log In</a>
<% } else if (user) { %>
	<h2>Hello, <%= user.upn %>.</h2>
	<a href="/account">Account Info</a></br>
	<a href="/logout">Log Out</a>
<% } else { %>
  <p>Authentication failed due to: <%= message[0] %> </p>
<% } %>
